<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Statistiques</title>

        <script src="./assets/js/jquery.min.js"></script>
        <script src="./assets/js/boostrap.min.js"></script>
        <script src="./assets/js/datatables.min.js"></script>
        <script src="./assets/js/select2.js"></script>
        <script src="./assets/js/datatables.buttons.min.js"></script>
        <script src="./assets/js/buttons_flash.js"></script>
        <script src="./assets/js/jszip.min.js"></script>
        <script src="./assets/js/buttons.html5.js"></script>
        <script src="./assets/js/button.print.js"></script>
        <script src="./assets/js/local.js?5"></script>


        <link rel="stylesheet" href="./assets/css/bootstrap.css">
        <link rel="stylesheet" href="./assets/css/datatables.css">
        <link rel="stylesheet" href="./assets/css/datatables.responsive.css">
        <link rel="stylesheet" href="./assets/css/select2.css">
        <link rel="stylesheet" href="./assets/css/styles.css?3"/>
    </head>

    <body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container-fluid d-block">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="./.."><img src="./images/logoNOC.svg" alt="Net O'Centre"></a>
            </div>
        </div>
    </header>
    <section id="chapeau">
        <div class="container-fluid">
            <div id="filters">
                <h1>Statistiques de fréquentation</h1>
                <h2>ENT Net O'Centre</h2>
                {% if not showSimpleData %}
                    <form id="filters" action="" method="post" class="form-inline">
                        <div class="form-group mr-2 mb-3">
                            <label>Voir les résultats pour :</label>
                        </div>
                        <div class="form-group mr-2 mb-3">
                            <label for="mois" class="sr-only">Période</label>
                            <select id="mois" name="mois" class="form-control">
                                {% for forMois in listMois %}
                                    <option {% if forMois.id == mois %}selected {% endif %}value="{{ forMois.id }}">{{ forMois.mois }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if not etabReadOnly %}
                        <div class="form-group mr-2 mb-3">
                            <label for="etabType" class="sr-only">catégorie</label>
                            <select id="etabType" name="etabType[]" class="form-control js-select2-mutliple"
                                    multiple="multiple" style="width:300px;">
                                {% for forTypeEtab in listTypesEtab %}
                                    <option {% if forTypeEtab.id in typesEtab %}selected {% endif %}value="{{ forTypeEtab.id }}">{{ forTypeEtab.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        <div class="form-group mr-2 mb-3">
                            <label for="etab" class="sr-only">établissement</label>
                            <select id="etab" name="etab" class="form-control" data-disabled="{{ etabReadOnly ? 'true' : 'false' }}">
                                {% if not etabReadOnly %}<option value="-1">Tous les établissements</option>{% endif %}
                                {% for forEtab in listEtabs %}
                                    {% if (not etabReadOnly) or forEtab.id == etab %}
                                    <option {% if forEtab.id == etab %}selected {% endif %}value="{{ forEtab.id }}">{{ forEtab.nom }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <button id="filterBtn" class="btn btn-primary mb-3">Filtrer</button>
                        <button id="reset" class="btn btn-default mb-3">Ré-initialiser les filtres</button>
                        <input id="resultType" type="hidden" name="resultType" value="{% if viewService %}{{ constant('VIEW_SERVICES') }}{% else %}{{ constant('VIEW_ETABS') }}{% endif %}"/>
                    </form>
                {% endif %}
            </div>
            <div>
    </section>
    <section id="statistiques">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    {% if not showSimpleData %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="vueservices" name="vue" class="custom-control-input"
                                    value="services" {% if viewService %}checked{% endif %} >
                            <label class="custom-control-label" for="vueservices">Vue Services</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="vuelycees" name="vue" class="custom-control-input"
                                    value="etabs" {% if not viewService %}checked{% endif %} >
                            <label class="custom-control-label" for="vuelycees">Vue Etablissements</label>
                        </div>
                    {% endif %}
                </div>
                <div class="col-6">
                    <div class="custom-control custom-switch text-right mb-3">
                        <input type="checkbox" class="custom-control-input switch-auto" id="customSwitch1" name="switch1" data-val1="population" data-val2="ratio">
                        <label class="custom-control-label" for="customSwitch1">Voir le ratio des visites par rapport aux
                            utilisateurs potentiels</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input switch-auto sel-col" id="customSwitchParent" name="parent"
                            checked data-val1="no-parent" data-val2="parent">
                        <label class="custom-control-label" for="customSwitchParent">Voir les parents</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input switch-auto sel-col" id="customSwitchEleve" name="eleve"
                            checked data-val1="no-eleve" data-val2="eleve">
                        <label class="custom-control-label" for="customSwitchEleve">Voir les élèves</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input switch-auto sel-col" id="customSwitchEnseignant" name="enseignant"
                            checked data-val1="no-enseignant" data-val2="enseignant">
                        <label class="custom-control-label" for="customSwitchEnseignant">Voir les enseignants</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input switch-auto sel-col" id="customSwitchPersNonEns" name="pers-non-ens"
                            checked data-val1="no-pers-non-ens" data-val2="pers-non-ens">
                        <label class="custom-control-label" for="customSwitchPersNonEns">Voir le personnel d'établissement non enseignant</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input switch-auto sel-col" id="customSwitchPersCol" name="pers-col"
                            checked data-val1="no-pers-col" data-val2="pers-col">
                        <label class="custom-control-label" for="customSwitchPersCol">Voir le personnel de collectivité</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input switch-auto sel-col" id="customSwitchTuteur" name="tuteur"
                            data-val1="no-tuteur" data-val2="tuteur">
                        <label class="custom-control-label" for="customSwitchTuteur">Voir les tuteurs de stages</label>
                    </div>
                </div>
            </div>
            {% include 'array.html.twig' %}
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade " id="topModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Classement par établissement pour <span id="serviceTitle"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="topContent" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>
    </body>
</html>